{* Latte template *}

{block content}
<br><h2 class="text-left">Úprava nabídky</h2><br>
{import '../components/form.latte'}
{include bootstrap4-form nabidkaForm}
{*control nabidkaForm*}
{/block}

{block scripts}
{include parent}
{/block}

{block head}
{/block}
