{* Latte template *}

{block content}
<h2 class="text-center">Úprava nabídky</h2>
{import '../components/form.latte'}
{include bootstrap4-form nabidkaForm}
{*control nabidkaForm*}
{/block}

{block scripts}
{include parent}
{/block}

{block head}
{/block}
